@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

$main--font: 'Quicksand', sans-serif;
$primary--color: #01FADA;
$secondary--color: #0d9cfd;
$container--width: 1300px;
